{% extends 'base.html.twig' %}

{% block title %} - Login{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/racktemp.min.css') }}">
  <style type="text/css">
    html {
      height: 100%;
      width: 100%;
    }

    body {
      background-image: url({{ asset('img/footer_lodyas.png') }});
      background-repeat: repeat;

    }

    @media (min-width: 1200px) {
      body {
        height: 100%;
        width: 100%;
        display: table;
        position: absolute;
      }

      .container {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .form-signin-heading {
      margin-top: 10px;
    }
  </style>
{% endblock %}

{% block body %}

  <div class="container">


    <form class="form-signin" action="{{ path('login_check') }}" method="post">
      <h2 class="form-signin-heading">RackTemp</h2>
      {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" autofocus="" autocomplete="off" />

      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="_password" />

      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

      {{ include('::footer.html.twig') }}
    </form>

  </div>

{% endblock %}
