{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/racktemp.min.css') }}">
{% endblock %}

{% block body %}
  {% include '::menu.html.twig' %}

  <div class="container wrapper">
  {% block container %}{% endblock %}

  {% include '::footer.html.twig' %}
  </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/jquery.min.js') }}"></script>
  {#<script src="{{ asset('js/bootstrap.min.js') }}"></script>#}
  {% if app.request.attributes.get('_route') == 'stats' %}
  <script src="{{ asset('js/d3.min.js') }}"></script>
  <script src="{{ asset('js/c3.min.js') }}"></script>
  {% endif %}
  <script src="{{ asset('js/racktemp.min.js') }}"></script>
{% endblock %}
